/**
 * @file
 * Naming styling
 */

.back-to-top {
  float: right;
}

/**
 * Add border to tree when displayed within a node
 */
.naming-toc {
  border: 1px solid #ccc;
  padding: 1em 0;
  margin: 1em 0;
}

.naming-category {
  border-bottom: 1px solid #ccc;
  padding: 0 0 2em 0;
  margin: 1em 0 2em;
}
