{#
/**
 * @file
 * Default theme implementation to display a naming category.
 *
 * Available variables:
 * - label: The label of the naming category.
 * - content: The content of this naming category.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_naming_category()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'naming-category',
  ]
%}
{{ attach_library('naming/naming') }}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
    <a href="#top" class="back-to-top">{{ 'Top'|t }}</a>
    <h2{{ title_attributes }}>{{ label }}</h2>
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}

  {{ naming_conventions }}
</div>
