{#
/**
 * @file
 * Default theme implementation to display a naming convention.
 *
 * Available variables:
 * - label: The label of the naming convention.
 * - content: The content of this naming convention.
 * - applies_to: The linked system path that naming covention applies to.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_naming_convention()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'naming-convention',
  ]
%}
{{ attach_library('naming/naming') }}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
    <a href="#top" class="back-to-top">{{ 'Top'|t }}</a>
    <h3{{ title_attributes }}>{{ label }}</h3>
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}

  {%  if applies_to %}
    <p><em>{{ 'Applies to'|t }}: {{ applies_to }}</em></p>
  {%  endif %}
</div>
